<nav 
  data-controller="dropdown"
  class="mt-16 fixed top-0 w-full"
>
  <div 
    class="flex justify-between items-center"
  >
    <div
      style="max-width: 40px;"  
    >
      <i 
        class="fa fa-bars p-2 ml-4 cursor-pointer"
        style="font-size: 40px;"
        data-action="click->dropdown#toggle"
        data-dropdown-target="dropdownButton"
        ></i>
    </div>
    <div class="flex flex-col items-center">
      <%= link_to "Panda", root_path, class: "text-3xl" %>
      <h2 class="text-xs">Organic gin</h2>
    </div>
    <div class="mr-4">
      <i class="fa fa-user fa-lg p-2"></i>
      <i class="fa fa-shopping-bag fa-lg p-2"></i>
    </div>
  </div>
  <%# Dropdown menu %>
  <ul
    class="flex flex-col items-center h-screen"
  >
    <li>
      <%= link_to "About us", pages_about_us_path %>
    </li>
    <li>
      <%= link_to "Contact", pages_contact_path %>
    </li>
  </ul>
</nav>
